extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    input#milesInput(type="text")
    input#radiusInput(type="text")
  div
    button#feetToMiles.btn.btn-primary.btn-lg Feet To Miles
    button#calcCircumference.btn.btn-primary.btn-lg Calculate Circumference

  pre#debug